
html {
	background: black;
	color: white;
}
body {
	display: flex;
	justify-content: center;
	font-size: 18px;
	flex-direction: column;
}

.table {
	display: table;
	justify-content: center;
	width: 95%;
	margin-top: 5px;
}

.slider, .slider_label {
	
}



.header_row, .row {
	display: table-row;
	text-align: center;
}

#type_chart, #pie_chart, #exit_table, #exchange_table {
	display: none;
}



.header_row div {
	font-weight: bold;
	font-size: 24px;
}

.header_row div, .row div {
	display: table-cell;
}

.header_row div.multiple_change {
	display: none;
	position: absolute;
}

.header_row div.multiple {
	display: flex;
	justify-content: center;
}

.row div {
	padding: 5px;
	border-bottom: 1px solid;
}
.row div:nth-child(even) {
}

.header_row div.sells, .row div.sells, .tot_row div.sells {
	display: none;
}

.tot_row div {
	border-top: 1px solid;
}

.green {
	color: #72ff72;
}
.red {
	color: #ff1a1a;
}